.user-info p {
  text-align: right;
  margin: 10px;
  padding: 10px;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.header {
  background: #1f2937;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #e5e7eb;
}

.running {
  color: green;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.stopped {
  color: red;
  font-weight: bold;
}

.norun {
  color: gray;
  font-weight: bold;
}

.layout {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

/* Nội dung chính */
.content {
  flex: 1;
  background: #fff;
  padding: 20px;
  line-height: 1.6;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #f5f5f5;
  padding: 15px;
  border-left: 2px solid #ddd;

  position: sticky;
  top: 20px; /* dính khi scroll */
  height: fit-content;
}

.sidebar {
  z-index: 1000;
}

.sidebar h3 {
  margin-top:0;
  font-size: 18px;
}

.sidebar ul {
  padding-left: 18px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff;
}

#registerBtn {
  cursor: pointer;
  background-color: #007bff;
  padding: 10px;
  border-radius: 10px;
}

#registerBtn:hover {
  background-color: #0055b0;
}


.footer {
  background-color: #1f2933;
  color: #d1d5db;
  margin-top: 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 14px;
}

.footer ul li a:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #111827;
  font-size: 13px;
  color: #9ca3af;
}


